{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <link rel="stylesheet" href="../assets/css/form.css"/>

    <div class="container-plus">
        <div class="block">
            <form action="{{ path('login') }}" method="post">
                <div class="flexCol">
                    <label>Actual password</label>
                    <input placeholder="Enter your actual password" type="password" name="_password" required="required">
                </div>
                <div class="flexCol">
                    <label>New password</label>
                    <input placeholder="Enter your new password" type="password" name="_newPassword" required="required">
                </div>
                <div class="flexCol">
                    <label>Confirm password</label>
                    <input placeholder="Confirm your new password" type="password" name="_confirmNewPassword" required="required">
                </div>
                <button type="submit">Change password</button>
        </div>
    </div>
{% endblock %}