{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <a class="btn btn-back" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24"
            height="24" viewbox="0 0 24 24">
            <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" /></svg>
        Retour
    </a>
    <div class="item-container">
        <h2 class="title name">001 - Bulbizarre</h2>
        <div class="item-info">
            <img src="https://www.pokemontrash.com/pokedex/images/sugimori/001.png" alt="">
            <table class="item-stats">
                <tr>
                    <th>PV</th>
                    <td>80</td>
                </tr>
                <tr>
                    <th>Attaque</th>
                    <td>20</td>
                </tr>
                <tr>
                    <th>Defence</th>
                    <td>30</td>
                </tr>
                <tr>
                    <th>Att. Spé.</th>
                    <td>10</td>
                </tr>
                <tr>
                    <th>Déf Spé.</th>
                    <td>5</td>
                </tr>
                <tr>
                    <th>Vitesse</th>
                    <td>50</td>
                </tr>
            </table>
        </div>
    </div>
    <table class="item-stage">
        <tr>
            <th>Stade 1</th>
            <th>Stade 2</th>
            <th>Stade 3</th>
        </tr>
        <tr>
            <td>
                <a href="#">
                    <img src="https://www.pokemontrash.com/pokedex/images/minixy/001.png" alt="">
                    Bulbizarre
                </a>
            </td>
            <td>
                <a href="#">
                    <img src="https://www.pokemontrash.com/pokedex/images/minixy/002.png" alt="">
                    Herbizarre
                </a>
            </td>
            <td>
                <a href="#">
                    <img src="https://www.pokemontrash.com/pokedex/images/minixy/003.png" alt="">
                    Florizarre
                </a>
            </td>
        </tr>
    </table>
    <div class="item-desc">
        <h3 class="desc-title">Description de Bulbizarre</h3>
        <p class="desc-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim repellendus, odio quasi
            deleniti non natus temporibus asperiores, nisi laborum id molestias, inventore eius consequatur quas
            recusandae nobis aperiam consectetur placeat alias blanditiis sunt totam molestiae vero labore! Repellat
            optio alias, eveniet eligendi quia tenetur nobis placeat dicta culpa laborum nisi magnam harum doloremque.
            Cum similique, quibusdam quaerat molestiae autem dolorum nulla sit recusandae possimus. Quaerat velit cum
            officiis doloremque, corrupti possimus consectetur tenetur, corporis porro, similique et! Doloribus
            nesciunt odio at, harum pariatur eveniet minima reiciendis necessitatibus itaque! Ratione alias sit omnis
            excepturi culpa, odit accusamus dignissimos quasi hic cupiditate?</p>
    </div>
</div>
</div>
{% endblock %}