{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <div>
        {% for i in 0..5 %}
        {% for pokemons in pokemons %}
            <p>{{ pokemons.name }}</p>
            <img width="120px" src="{{ pokemons.image }}">
            <img src="{{ pokemons.icon }}">
        {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
