@import url('https://fonts.googleapis.com/css?family=Montserrat');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    font-family: 'Montserrat', sans-serif;
}

        .container {
            width: 80%;
            max-width: 1280px;
            height: 100%;
            margin: 200px auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            align-content: center;
        }

        /*        Menu         */

        nav {
            display: flex;
            padding: 1px;
            transition: all 1s;
            background-color: white;
            position: fixed;
            width: 100%;
            top: 0;
        }

        @media screen and (max-width: 580px) {
            nav {
                justify-content: space-between;
            }
        }

        nav .logo {
            width: 40px;
            height: 40px;
        }

@media screen and (max-width: 580px) {
    nav {
        justify-content: space-between;
    }
}

nav .logo {
    width: 40px;
    height: 40px;
  }
  
  nav #items-menu {
    display: flex;
    transition: all 1s;
    animation: menu 1s;
    padding: 0;
}

@-webkit-keyframes menu {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes menu {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

nav .menu {
    z-index: 2;
    width: 100%;
}

nav .menu ul,
nav .menu li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
}

nav .menu ul a,
nav .menu li a {
    width: 100px;
    height: 26px;
    text-align: center;
    color: black;
    text-decoration: none;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

  }
  
  nav .menu ul a:hover,
  nav .menu li a:hover {
    color: red;
}

@media screen and (max-width: 580px) {
    nav .menu ul a,
    nav .menu li a {
        margin: 0 0 20px 0;
    }
}

nav .menu ul .active,
nav .menu li .active {
    color: red;
    border-bottom: 2px solid red;
}

@media screen and (max-width: 580px) {
    nav .menu {
      position: fixed;
      top: 70px;
      width: 100vw;
      margin: 0;
    }
}

nav #icon {
    display: none;
    color: black;
    font-size: 28px;
    transition: all 0.5s;
    padding: 10px;
    margin: 12px;
}

nav #logo {
    display: none;
    transition: all 0.5s;
    padding: 18px;
}

/* Page Pokedex */

.searchbar {
    width: 480px;
    height: 50px;
    margin-bottom: 200px;
    padding: 10px 10px 10px 30px;
    border: 10px solid #ffffff;
    background-color: white;
    color: grey;
    border-radius: 10px;
    background-image: url(../icons/magnify.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-origin: padding-box;
    font-family: 'Montserrat', sans-serif;
}

.searchbar::placeholder {
    text-align: left;
}

.searchbar:focus {
    outline: none;
}

.table {
    width: 100%;
    line-height: 32px;
    text-align: center;
    vertical-align: middle;
    border-collapse: separate;
    border-spacing: 0px 10px;
}

.tb-head tr:first-child th:first-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.tb-head tr:first-child th:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.tb-header {
    padding: 10px;
    border: 1px solid #bbbbbb;
    color: white;
    background-color: #bbbbbb;
    opacity: 1;
    transition: opacity .5s;
}

.tb-header:hover {
    cursor: pointer;
    opacity: .6;
}

        .tb-body tr td:first-child {
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
        }

        .tb-body tr td:last-child {
            border-radius: 10px;
            border-top-right-radius: 10px;
        }

.tb-body tr {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    opacity: 1;
    transition: opacity .5s, color .5s;
}

.tb-body tr:hover {
    cursor: pointer;
    opacity: .5;
    color: red;
}

.tb-data {
    padding: 10px;
}

.thumbnail {
    height: 100%;
    vertical-align: middle;
}

/* Page Item*/

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    color: #aaaaaa;
    font-size: 1em;
    transition: background-color .5s, color .5s;
}

.btn svg {
    padding-right: 5px;
}

.btn svg path {
    fill: #aaaaaa;
    transition: fill .5s;
}

.btn:hover {
    cursor: pointer;
    background-color: #dddddd;
    color: #ffffff;
}

.btn:hover svg path {
    fill: #ffffff;
}

.btn-back {
    width: 110px;
    align-self: flex-start;
    padding: 10px;
    text-align: end;
    text-decoration: none;
}

.item-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-info {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.name {
    margin-bottom: 50px;
}

.item-stats {
    border-collapse: separate;
    border-spacing: 15px;
}

.item-stats tr th {
    text-align: start;
    padding: 0px 10px;
}

.item-stats tr td {
    text-align: end;
    padding: 0px 10px;
}

.item-stage {
    margin-top: 50px;
    width: 100%;
}

.item-stage tr td a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    .searchbar {
        width: 100%;
    }

    .container {
        width: 100%;
    }

            .item-info {
                flex-wrap: wrap;
                justify-content: center;
            }
        }


        .addPokemon {
            background-color: rgb(248, 248, 248);
            border: 2px solid rgb(248, 248, 248);
            color: grey;
            margin: 5px 0 0 0;
            padding: 8px;
            text-decoration: none;
            border-radius: 10px 10px 0 0;
        }

        .addPokemon:hover {
            background-color: red;
            border: 2px solid red;
            color: white;
        }

        .edit {
            vertical-align: middle;
            color: red;
            text-decoration: none;
            font-size: 30px;
        }

.fightContainer {
    width: 100%;


}

.displayAllTeam {
    display: flex;
    justify-content: space-around;
}

.displayOneTeamContainer {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.displayOneTeamContainer h2 {
    margin-left: auto;
    margin-right: auto;
}

.displayOneTeam {
    display: flex;
    background-color: #FFF;
    border-radius: 15px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.displayOnePokemon {
}

.picturePokemon {
    width: 80px;
}

.FightSection {
    width: 100%;
    display: flex;
    justify-content: space-around;


}


.displayOneFighter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fight {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    margin-top: 50px;
}

.descriptionFight {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    margin-top: 50px;
    width: 700px;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    border-radius: 15px;
    color: #aaaab6;
}
