{% extends 'base.html.twig' %}
{% block title %}Inscription{% endblock %}

{% block body %}
<link rel="stylesheet" href="../assets/connection.css"/>

<div class="container-connection">
    <a href="../connection"><img src="../assets/images/pokeball.png"></a>
    <h1>Inscription</h1>
    <form>
        <label>Pseudo</label>
        <input placeholder="Pseudo" type="text">
        <label>Identifiant</label>
        <input placeholder="Email" type="email">
        <label>Mot de passe</label>
        <input placeholder="Mot de passe" type="password">
        <label>Validation du mot de passe</label>
        <input placeholder="Mot de passe" type="password">

        <button>Enregistrer</button>
    </form>

    <a href="">Mot de passe oublié ?</a>

    <a href="../connection">Connexion</a>
<div>

{% endblock %}
