{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<link rel="stylesheet" href="../assets/connection.css"/>

<!-- <nav id="nav">
    <div class="menu">
        <ul id="items-menu">
            <li><a class="" href="index.html">Accueil</a></li>
            <li><a href="">Combat</a></li>
            <li><a href=""><img class="logo" alt="logo" src="img/logo.png"></a></li>
            <li><a href="">Pokedex</a></li>
            <li><a href="">A propos</a></li>
        </ul>
    </div>
    <a href="javascript:void(0);" id="icon" onclick="clickMenu()">
        <i class="fa fa-bars"></i>
    </a>
</nav> -->

<div class="container-connection">
    <a href="../connection"><img src="../assets/images/pokeball.png"></a>
    <h1>Connexion</h1>
    <form>
        <label>Identifiant</label>
        <input placeholder="Email" type="email">
        <label>Mot de passe</label>
        <input placeholder="Mot de passe" type="password">
        <button>Go</button>
    </form>

    <a href="">Mot de passe oublié ?</a>

    <a href="../register">Inscription</a>
<div>
{% endblock %}
